// 0 | Cleanup Code

.form-a {
    width: 250px;
}

.grow {
    flex-grow: 1;
}

.a-clean {
    color: inherit;
    text-decoration: none;
}

// 1 | generic Logic

// 2 | Page Layout

.page-layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 40px 1fr 40px;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;

    #side-bar {
        grid-row: span 3;
        background-color: black;
    }
}

// 3 | Components

// 3 | 0 | Footer & Header
footer,
header {
    background-color: rgba(0, 0, 0, 0.1);
}

// 3 | 1 | Footer

// 3 | 2 | Header

// 3 | 3 | Body 
body {
    background-color: rgba(0, 0, 0, 0.05);
}